/* color */
:root {
    --text: black;
    --bg: #e5d7ba;
    --page: white;
    --link: darkblue;
}

body.dark-mode {
    --text: white;
    --bg: black;
    --page: black;
    --link: pink;
    background-image: url(/media/backgrounds/dark.png);

    .ss {
        filter: invert(1);
    }

    .rss {
        filter: invert(1);
    }
}

/* general */

body {
    font-size: 90%;
    font-family: ucsur, serif;
    background-color: var(--bg);
    color: var(--text);
    max-width: 45rem;
    margin: 0 auto;
    padding: 1rem;
    text-align: justify;
    hyphens: auto;
    line-height: 175%;
    background-image: url(/media/backgrounds/light.png);
}

h1, h2, h3 {
    text-align: center;
    font-size: 100%;
}

h2, h3 {
    padding: 0;
}

a {
    text-decoration: none;
    color: var(--link);

    &:hover {
        text-decoration: underline;
    }
}

img {
    image-rendering: optimizeSpeed;
    max-width: 100%;
    height: auto;
}

table {
    width: 100%;
    height: 100%;
    border-collapse: collapse;
    border: 1px solid;
}

tr {
    border: none;
}

td, th {
    border-left: 1px solid;
    border-right: 1px solid;
    padding: 10px;
}

button {
    background-color: var(--page);
    color: var(--text);
    border: 1px solid var(--text);
    &:active {
        transform: translateY(2px) translateX(2px);
    }
}

ul, ol {
    padding-inline-start: 1rem;
    list-style-image: url(/media/list.png);
}

/* classes */

.box {
    background-color: var(--page);
    border: 1px solid var(--text);
    padding: 4rem;
    padding-bottom: 1rem;
    padding-top: 1rem;
    position: relative;
    box-shadow: 1px 1px;
}

.details {
    font-size: 90%;
}

.right {
    text-align: right !important;
}

.foot {
    text-align: center;
    padding: 1rem;
    opacity: 75%;
    font-size: 80%;

    a {
        color: var(--text);
    }
}

.ss {
    padding: 0;
    width: 15%;
    display: block;
    margin-left: auto !important;
    margin-right: auto !important;
}

.rss {
    position: absolute;
    top: 15px;
    left: 20px;
}

.theme {
    text-align: right;
    position: absolute;
    top: 15px;
    right: 15px;
}

.buttons {
    text-align: center;
}

.links {
    display: flex;
    flex-wrap: nowrap;

    & > div {
        flex: 1;
        text-align: center;
    }
}

.note {
    text-decoration: underline;
    text-decoration-style: dotted;
    cursor: pointer;
    display: inline-block;
}

.note-content {
    position: relative;
    visibility: hidden;
    position: absolute;
    padding: 10px;

    font-style: italic;
    align-items: right;
    background-color: white;
    border: 1px solid black;
    box-shadow: 1px 1px;
}

.note:hover .note-content {
    visibility: visible;
    opacity: 1;
}

.mobile {
    display: none;
}

/* langs */
@font-face {
    font-family: "nasin-nanpa";
    src: url("../fonts/nasin-nanpa-5.0.0-beta.2.otf") format("opentype");
}

@font-face {
    font-family: "ucsur";
    src: url("../fonts/nasin-nanpa-5.0.0-beta.2-UCSUR.otf") format("opentype");
    unicode-range: U+F1900-F19FF;
}

.tp, .eo, .es, .en {
    line-height: 180%;

    h1, h2, h3 {
        font-weight: normal;
    }
}

.eo, .es {
    h1 {
        text-transform: uppercase;
    }

    h2 {
        font-style: italic;
    }
}

.sp {
    font-family: nasin-nanpa, sans-serif;
    text-align: left;
    
    p {
        margin-bottom: 5%;
    }

    h1 {
        font-size: 120%;
    }

    h1, h2 {
        font-weight: normal;
    }

    b, em {
        color: gray;
        font-style: normal;
    }
}

/* mobile */
@media (max-width: 600px) {
    body {
        padding: 0;
        font-size: 90%;
    }
    video {width: 50%;} 
    .box {
        padding: 1rem;
        border-left: 0;
        border-right: 0;
        box-shadow: 0 0;
    }
    .ss {width: 30%;}
    .mobile {display: block;}
    .table {text-align: left;}
}
