<!DOCTYPE html>
<html lang="eo">
    <head>
        <script>
            document.documentElement.dataset.theme = localStorage.getItem('theme') || 'light';
        </script>
        <meta charset="UTF-8" />
        <title>{{ .Title}}</title>
        <meta name="viewport" content="width=device-width,initial-scale=1" />
        <meta name="description" content="owo whats this" />
        <link rel="icon" type="image/x-icon" href="/favicon.ico">
        <link rel="stylesheet" type="text/css" href="/styles.css" />
    </head>
    <body>