{{ partial "header.html" . }}
<div class="box">
    {{ .Content }}
    {{ partial "theme.html" . }}
</div><br/><div class="box">
    {{ partial "webring.html" . }}
    {{ partial "soweli.html" . }}
    <br>
    <span>
        <a href="https://sijeni.li.pona.la"><img src="/media/8831/sieni.png" alt="sieni"></a>
        <a href="https://tokipona.org"><img src="/media/8831/tokipona.png" alt="sieni"></a>
        <a href="https://www.bruh.ltd"><img src="/media/8831/yours-truly.png" alt="yours truly"></a>
        <a href="https://www.wiby.org"><img src="/media/8831/wiby.gif" alt="wiby.org"></a>
        <a href="https://linuxmint.com"><img src="/media/8831/mint.gif" alt="linux mint"></a>
        <img src="/media/8831/pride.png" alt="agender bisexual">
    </span>
</div>
{{ partial "footer.html" . }}