{{ partial "header.html" . }}
<main>
    <article>
        <h1>SIENI :3</h1>

        <div class="marquee" aria-hidden="true"><p>
            选语言 ~ SELECT LANGUAGE ~ ELEKTU LINGVON ~ ELIGE IDIOMA ~
            ESCULL IDIOMA ~ <span class="sp">o luka e toki wile</span> ~
            言語を選べ ~ VALITSE KIELI ~ HAUTATU HIZKUNTZARIK ~
            ESCOLHA IDIOMA ~ CHOISISSEZ LANGUE ~ اختر اللغة ~ LINGUAM DELIGE ~
            ĊĒOS ĠEÞĒODE ~ <span class="qy">~C 1DÎyF 1Fx$jR</span> ~ uw õvò owõv uwu
        </p></div>
        
        <img class="img-switch side-img" style="width:25%;" src="/media/icons/language.svg" alt="SELECT LANGUAGE"></img>

        <ul>
            <li><a href="/sp"><span class="sp">o lukin lon toki+pona pi(sitelen+pona)</span></a></li>
            <li><a href="/tp">o lukin lon toki pona pi sitelen Lasina</a></li>
            <li><a href="/eo">vidi en Esperanto</a></li>
            <li><a href="/es">ver en español</a></li>
            <li><a href="/en">view in English</a></li>
        </ul>

    </article>
</main>

<article aria-hidden="true">

    <details>
        <summary>WEBRINGS~</summary>
        <div id="sike-pona" style="width: 100%; height: 3rem;">
          <link rel="stylesheet" href="https://sike.pona.la/embed.css"/>
          <span id="left">
            <a href="https://sike.pona.la/jan/soko Sijeni/prev.html" id="prev">← prev</a>
            </span>
          <span id="mid"><a href="https://sike.pona.la">
            <img alt="toki pona logo" class="tokipona" src="https://sike.pona.la/assets/tokipona.svg"></img>
            sike pona
            <img alt="toki pona logo" class="tokipona" src="https://sike.pona.la/assets/tokipona.svg"></img>
          </a></span>
          <span id="right">
          <a href="https://sike.pona.la/jan/soko Sijeni/next.html" id="next">next →</a>
          </span>
        </div>
        <p id="soweliring" style="display: flex; justify-content: space-between; width: auto;"><a href="https://thedressedmolerat.github.io/webring?name=soko%20Sijeni&to=skipprevious">⇇</a> <a href="https://thedressedmolerat.github.io/webring?name=soko%20Sijeni&to=previous">&lt;</a> <a href="https://thedressedmolerat.github.io/webring">soweli ring</a> <a href="https://thedressedmolerat.github.io/webring?name=soko%20Sijeni&to=next">&gt;</a> <a href="https://thedressedmolerat.github.io/webring?name=soko%20Sijeni&to=skipnext">⇉</a></p>
        <center>
            <a href="https://baccyflap.com/noai/?prv&s=nja" target="_top" title="previous">«</a>
            <a href="https://baccyflap.com/noai" target="_blank">no ai &#x1f6ab;&#129302; webring</a>
            <a style="font-size:60%" href="https://baccyflap.com/noai/?rnd" target="_top" title="random">(&#x1F3B2;)</a>
            <a href="https://baccyflap.com/noai/?nxt&s=nja" target="_top" title="next">»</a>
        </center>
        <p style="display: flex; justify-content: space-between; width: auto;"><a href="https://webring.bucketfish.me/redirect.html?to=prev&name=sieni">⥼ prev</a> <a href="https://webring.bucketfish.me" class="rainbow">🏳️‍🌈 bucketfish webring 🏳️‍🌈</a> <a href="https://webring.bucketfish.me/redirect.html?to=next&name=sieni">next ⥽</a></p>
    </details>

    <details>
        <summary>BUTTONS~</summary>
        <center class="btn">
            {{ range .Site.Data.buttons.buttons }}<a href="{{ .url }}"><img src="{{ .img }}" alt="{{ .alt }}"></a>{{ end }}

            <iframe src="//incr.easrng.net/badge?key=sieni" style="background: url(//incr.easrng.net/bg.gif)"
            title="increment badge" width="88" height="31" frameborder="0"></iframe>
        </center>
    </details>

</article>
{{ partial "footer.html" . }}

