{{ partial "header.html" . }}
<div class="box">
    {{ partial "theme.html" . }}
    {{ .Content }}
    <div class="guestbook"><a href="https://sijeni.atabook.org/">»»» guestbook! «««</a></div>
</div><br/><div class="box">
    {{ partial "webrings/sikepona.html" . }}
    {{ partial "webrings/soweli.html" . }}
    {{ partial "webrings/noai.html" . }}
</div><br/><div class="box">
    {{ partial "buttons.html" . }}
    <br><iframe src="https://john.citrons.xyz/embed?ref=sijeni.li.pona.la" class="john"></iframe>
</div>
{{ partial "footer.html" . }}