/* COLOR */

:root {
    --text:         black;
    --border:       black;
    --border-alt:   violet;
    --page:         white;
    --link:         darkblue;
    --bg:           pink;
    --bg-img:       url(/media/background/light.png);
    --list:         url(/media/list/light.png);
}

@media (prefers-color-scheme: dark) {
    body {
        --text:         white;
        --page:         black;
        --link:         pink;
        --border:       silver;
        --border-alt:   dimgrey;
        --bg:           black;
        --bg-img:       url(/media/background/dark.png);
        --list:         url(/media/list/dark.png);
        .img-switch { filter: invert(1); }
    }
}

/* GENERAL */

body {
    font-family: serif;
    color: var(--text);
    max-width: 45rem;
    margin: 0 auto;
    padding: 1rem;
    text-align: justify;
    hyphens: auto;
    line-height: 175%;
    background-color: var(--bg);
    background-image: var(--bg-img);
}

article, header, main {
    padding: 3rem;
    padding-bottom: 1rem;
    padding-top: 1rem;
    position: relative;
    margin-top: 1rem;
    background-color: var(--page);
    border: 1px solid var(--border);
    border-color:
        var(--border)
        var(--border-alt)
        var(--border-alt)
        var(--border);
}

h1, h2, h3 {
    text-align: center;
    font-size: 100%;
    font-weight: normal;
}

h2, h3 {
    padding: 0;
}

h1 {
    text-transform: uppercase;
}

h2 {
    font-style: italics;
}

a {
    text-decoration: underline;
    color: var(--link);

    &:hover {
        background-color: var(--link);
        color: var(--page);
    }
}

img {
    image-rendering: optimizeSpeed;
    max-width: 100%;
    height: auto;
}

table {
    width: 100%;
    height: 100%;
    border-collapse: collapse;
    border: 1px solid;
    border-color:
        var(--border)
        var(--border-alt)
        var(--border-alt)
        var(--border);
}

tr {
    border: none;
}

td, th {
    border-left: 1px solid;
    border-right: 1px solid;
    padding: 10px;
    text-align: left;
    border-color:
        var(--border)
        var(--border-alt)
        var(--border-alt)
        var(--border);
}

button {
    background-color: var(--page);
    color: var(--text);
    border: 1px solid var(--text);
    &:active {
        transform: translateY(2px) translateX(2px);
    }
    &:hover {
        background-color: var(--link);
        color: var(--page);
        border-color: var(--page);
    }
}

ul, ol {
    list-style-image: var(--list);
    padding-inline-start: 1rem;
}

hr {
    border: none;
    margin: 2rem;
    &::before {
        content: "∗ ∗ ∗";
        display: block;
        text-align: center;
    }
}

footer {
    text-align: center;
    padding: 1rem;
    opacity: 75%;
    font-size: 80%;

    a {
        color: var(--text);
        &:hover {
            color: var(--bg);
            background-color: var(--text);
        }
    }
}

details {
    font-size: 90%;
}

select {
    background-color: var(--page);
    color: var(--text);
}

/* CLASSES */

.right {
    text-align: right;
}

.center {
    text-align: center;
    font-size: 90%;
}

.content-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.side-img {
    float: right;
}

.sitelen-suwi {
    padding: 0;
    width: 15%;
    display: block;
    margin-left: auto !important;
    margin-right: auto !important;
}

.rss {
    position: absolute;
    top: 15px;
    left: 20px;
}

.links {
    display: flex;
    flex-wrap: nowrap;
    font-size: 90%;

    & > div {
        flex: 1;
        text-align: center;
    }
}

.marquee {
    white-space: nowrap;
    overflow: hidden;
    box-sizing: border-box;
    p, img {
        display: inline-block;
        padding-left: 100%;
        animation: marquee 15s linear infinite;
    }
    img {
        width: 20%;
    }
}

.note {
    text-decoration: underline;
    text-decoration-style: dotted;
    display: inline-block;
}

.note-content {
    position: relative;
    visibility: hidden;
    position: absolute;
    padding: 10px;

    font-style: italic;
    align-items: right;
    background-color: var(--page);
    border: 1px solid;
    border-color:
        var(--border)
        var(--border-alt)
        var(--border-alt)
        var(--border);
}

.note:hover .note-content {
    visibility: visible;
    opacity: 1;
}

.rainbow {
    animation: rainbow 20s infinite; 
    &:hover {
        color: var(--page);
        animation: rainbow-bg 10s infinite; 
    }
}

.john {
    margin-left:auto;
    display:block;
    margin-right:auto;
    max-width:732px;
    width:100%;
    height:94px;
    border:none;
}

@keyframes rainbow {
    0%{color: orange;} 10%{color: purple;} 20%{color: red;} 30%{color: CadetBlue;}
    40%{color: yellow;} 50%{color: coral;} 60%{color: green;} 70%{color: cyan;}
    80%{color: DeepPink;} 90%{color: DodgerBlue;} 100%{color: orange;}
}

@keyframes rainbow-bg {
    0%{background-color: orange;} 10%{background-color: purple;} 20%{background-color: red;}
    30%{cbackground-olor: CadetBlue;} 40%{background-color: yellow;} 50%{background-color: coral;}
    60%{background-color: green;} 70%{background-color: cyan;} 80%{background-color: DeepPink;}
    90%{background-color: DodgerBlue;} 100%{background-color: orange;}
}

@keyframes marquee {
  0%   { transform: translate(0, 0); }
  100% { transform: translate(-100%, 0); }
}

/* LANGUAGES N FONTS */

@font-face {
    font-family: "nasin-nanpa";
    src: url("/fonts/nasin-nanpa-4.0.2.otf") format("opentype");
}

.tp {
    font-size: 110%;
    h1 {
        text-transform: none;
    }
}

.sp {
    font-family: nasin-nanpa;
    margin-bottom: 5%;
    
    h1 {
        text-transform: none;
        font-size: 120%;
    }

    b, em {
        color: gray;
        font-style: normal;
    }

    ul {
        margin-top: -1rem;
        padding-inline-start: 1.8rem;
    }
}

/* MOBILE */

@media (max-width: 600px) {
    body {
        padding: 0;
        font-size: 85%;
    }

    video {
        width: 50%;
    }

    article, main, header {
        padding: 1rem;
        border-left: 0;
        border-right: 0;
        box-shadow: 0 0;
    }

    .side-img {
        display: none;
    }

    .ss { width: 30%; }
    .table { text-align: left; }
}

@media (prefers-reduced-motion: reduce;) {
    .rainbow {
        a {animation: none !important;}
        a:hover {animation: none !important;}
    }

    .marquee {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}

/* cursr */

* {
    cursor: url(/media/cursor.cur), auto;
}
